$red: #ff6060;

.error{
  display:flex;
  flex-direction:column;

  & h1{
      font-size: 288px;
      color: $red;
      margin:auto;
  }
  &__oups{
      font-size: 36px;
      color: $red;
      font-weight: 600;
      margin: 120px;
  }
  &__accueil{
      color: inherit;
      text-decoration: underline;
      margin-bottom: 40px;
  }
}

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .error{
    margin-bottom: 40px;

    & h1{
      font-size: 96px;
      margin:20%;
    }
    &__oups{
      font-size: 18px;
      margin: 40px;
      font-weight: 400;
    }
    &__accueil{
    font-size: 14px;
    margin: 15% ;
    
    }
  }
}