
$red: #ff6060;

.lgt {
  font-family: "Montserrat", sans-serif;
  &__area {
    display: flex;
    flex-direction: column;
    margin: 0 5% 0;
    max-width: 1240px;

    &--title{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      
    
    & h2{
      color: $red;
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      
      margin-bottom: 10px;
    }
   
    & h3{
      color: black;
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      margin-top: 5px;
    }
    }
    &--slider {
      position: relative;
      text-align: center;
      
    }
    &--details{
      display:flex;
      justify-content: space-between;
      flex-direction: row;

    }
    &--h3tag{
      text-align: left;
    }
  }
 

  &__slider--image {
    width: 100%;
    max-width: 1280px;
    max-height: 400px;
    object-fit: cover;
    margin-top: 40px;
    border-radius: 20px;
  }
&__chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    padding: 0 2rem 0;
    cursor: pointer;

  &.left {
    left: 0;
    font-size: 160px;
    font-weight: 400;
  }
  &.right {
    right: 0;
    font-size: 160px;
    font-weight: 400;
  }
}
  &__counter {
    position: absolute;
    bottom: 10px;
    right: 50%;
    color: white;
    transform: translateY(-50%);
    background: $red;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  &__dropdown {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 30px 0 14px;

  
    &--button {
      position: relative; // important pour positionner le dropdown par rapport au bouton
      height:auto;
      margin-bottom: 40px;
  
      button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: $red;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 0;
        font-size: 18px;

        span {
          margin-left: 100px;
          font-size: 1.2rem;
          font-weight:lighter;
          display: inline-block; 
          transform: scaleX(1.7); 
        }
      }
    }
  }
  &__host{
    color: $red;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: end;
    width:150px;
    font-size:18px;
    font-weight: 500;


    & img{
      border-radius: 50%;
      height:64px;
      margin-left: 20px;
    }
  }
  
  &__details{
    &--rating{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      align-items: end;
    }
    &--tags{
      display: flex;
      text-align: center;
      margin-top: 10px;
      
    }
    &--tags span{
      display:block;
      height: 20px;
      background-color: $red;
      margin-right: 20px;
      color: white;
      border-radius: 10px;
      padding: 2px;
      font-size: 14px;
      font-weight: 600;
      width: 115px;

    }
 
  }

}
.fa-star {
  font-size: 1.2rem;
  margin-right: 20px;
  height: 10px;
  width: 10px;
}

.lgt__dropdown--content {
      position: relative;
      left: 0;
      width: 100%;
      background: #f2f2f2;
      border-radius: 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
      z-index: 2;
      margin-top: 0;
      width: auto;
      text-align: left;

      &.open {
        max-height: 300px; 
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        width: auto;
       
      }
  
      & ul {
        list-style-type: none;
        text-align: left;
        margin: 0;
        padding: 0;
      }
      &.expanded {
        margin-bottom: 4rem; 
      }
}
.rating{
  text-align: right ;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.lgt{
  &__host{
    
    margin-top: 0;
    span{
      font-size: 12px;
      img{
        height: 32px;
      }
    }
  }
  &__area{
  margin: 20px 2px;
  width: 98%;
    &--slider{
      height: 255px;
      & img{
        height: 255px;
        margin: 0;
      }
    }
    &--title{


      & h2{
        font-size: 18px;
        font-weight: 500;
        
      }
      & h3{
        margin-top: 0;
        font-size: 14px;
        font-weight: 400;

      }
    }
    &--details{
      flex-direction: column;
    }
  }
  
  &__chevron {
  padding: 0 1rem 0;

  &.left {
    left: 0;
    font-size: 40px;
    font-weight: 400;
  }
  &.right {
    right: 0;
    font-size: 40px;
    font-weight: 300;
  }
  }
  &__counter{
      right: 40%;
  }
  &__details{
    &--tags{
      flex-direction: row;
      align-items: center;
      align-content: center;
        & span{
          border-radius: 5px;
        display: inline-block; 
        position:relative;
        top: 50%;
        height: auto;
        margin-right: 18px;
        padding: 0px;
        font-size: 10px;
        width: 84px;
        font-weight: 500;
      }
    }
    &--rating{
      margin-top: 16px;
      justify-content:space-between;
      flex-direction: row-reverse;
      align-items: center;
    }
  
  }
  &__dropdown {
    flex-direction: column !important;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    
    &--button{
      width: 100% !important;
      margin-bottom: 10px;
        & button {
          font-size: 12px !important;
          height: 30px;
          padding: 7px;
          font-weight: 600;
          border-radius: 5px;
            & span{
            display: inline-block; 
            position:relative;
            top:-15%;
            right:10px;
            font-size: 1rem;
            margin-bottom: 5px;
          }
        }
    }
    &--content{
      font-size: 12px;
      .open{
        font-size: 12px;
      }
    }
  }
}
.rating{
    text-align: left;
    padding:0;
}
.fa-star {
  font-size: 0.8rem;
  margin-right: 10px;
 
}
}

