.kasa__banner {
  background-color: white;
  max-width: 1280;
  padding: 2rem;
}
.kasa__banner--banner {
  height: 222px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kasa__banner--img {
  height: 222px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  filter: brightness(50%);
  display: block;
  margin: 0 auto;
}
.kasa__banner--banner h1 {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  width: 80%;
}