.kasa__header {
  align-content: center;
  height: 80px;
  max-width: 1240px;
  margin: 45px 5% 0;
  padding: 0;
}
.kasa__header--logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-weight: 500;
  height: 68px;
  width: 100%;
}
.kasa__header--nav {
  width: 260px;
}
.kasa__header--ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 260px;
  padding-left: 0;
}
.kasa__header--acceuil {
  cursor: pointer;
  font-size: 24px;
}
.kasa__header--apropos {
  cursor: pointer;
  font-size: 24px;
}

.kasa__logo {
  height: 68px;
  width: 210px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.underline {
  text-decoration: underline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .kasa__header {
    max-width: 480px;
    margin: 10px;
    padding: 0;
  }
  .kasa__header--ul {
    width: auto;
    padding-left: 10px;
    justify-content: space-around;
  }
  .kasa__header--acceuil {
    font-size: 12px;
    margin-left: 20px;
  }
  .kasa__header--apropos {
    font-size: 12px;
  }
  .kasa__logo {
    height: 47px;
    width: 145px;
  }
  .link {
    text-transform: uppercase;
  }
  .underline {
    text-decoration: underline;
    text-transform: uppercase;
  }
}