#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1440px;
  background-color: white;
}

.kasa__parent {
  max-width: 1240px;
  margin: 0 5% 0;
}

.kasa__top {
  align-content: center;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #root {
    max-width: 480px;
  }
  .kasa__parent {
    width: 90%;
    padding: 0;
  }
}