#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1440px;
  background-color: white;
}

.kasa__parent {
  padding: 10px;
}

.kasa__top {
  align-content: center;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #root {
    max-width: 480px;
  }
  .kasa__parent {
    padding: 0;
  }
}