#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1440px;
  background-color: white;
}

.kasa__parent {
  padding: 10px;
}

.kasa__top {
  align-content: center;
  max-width: 1280px;
  margin: 0 5% 0;
}